@font-face {
  font-family: 'Geomanist Book';
  src: url(fonts/geomanist/hinted-Geomanist-Book.eot);
  src: url(fonts/geomanist/hinted-Geomanist-Book.eot?#iefix) format('embedded-opentype'),url(../fonts/geomanist/hinted-Geomanist-Book.woff2) format('woff2'),url(../fonts/geomanist/hinted-Geomanist-Book.woff) format('woff'),url(../fonts/geomanist/hinted-Geomanist-Book.ttf) format('truetype'),url(../fonts/geomanist/hinted-Geomanist-Book.svg#Geomanist-Book) format('svg');
  font-weight: 400;
  font-style: normal
}

body {
  background-color: #F0F0F1;
}

.reveal {
  font-size: 38px;
  font-family: "Arial", sans-serif;
}

.reveal h1, .reveal h2, .reveal h3 {
  font-family: 'Geomanist Book';  
  color: #0075BC;
}

.reveal h1 {
  font-size: 3em;  
}

.reveal h2 {
  text-transform: none;
  font-size: 1.8em;  
}

.reveal p, .reveal li {
  font-size: 95%;  
  color: #0096C7;  
}

.reveal a {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

.reveal pre {
  width: 97%;
  font-size: 0.6em;
}

.reveal blockquote {
  width: 90%;
  font-size: 0.85em;
}

.reveal .slides {
  text-align: left;
  background-image: url("img/docker.png");
  background-position: 99% 99%;
  background-size: 5%;
  background-repeat: no-repeat;
}

.reveal .slide-number {
  top: 8px;
  bottom: unset;
  font-size: 16px;
  background-color: #0075BC;
}

/* Control the look and feel of the copy box applied to code sections */
.btn-copy[disabled] .clippy {
  opacity: .3;
}
pre .btn-copy {
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  padding: 2px 6px;
  float: right;
}
pre .btn-copy img {
  margin: 0;
  border: 0;
}
pre:hover .btn-copy {
  opacity: 1;
}
.tooltipped {
  position: relative
}
.tooltipped:after {
  position: absolute;
  z-index: 1000000;
  display: none;
  padding: 5px 8px;
  font: normal normal 11px/1.5 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: break-word;
  white-space: pre;
  pointer-events: none;
  content: attr(aria-label);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  -webkit-font-smoothing: subpixel-antialiased
}
.tooltipped:before {
  position: absolute;
  z-index: 1000001;
  display: none;
  width: 0;
  height: 0;
  color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  content: "";
  border: 5px solid transparent
}
.tooltipped:hover:before, .tooltipped:hover:after, .tooltipped:active:before, .tooltipped:active:after, .tooltipped:focus:before, .tooltipped:focus:after {
  display: inline-block;
  text-decoration: none
}
.tooltipped-s:after, .tooltipped-se:after, .tooltipped-sw:after {
  top: 100%;
  right: 50%;
  margin-top: 5px
}
.tooltipped-s:before, .tooltipped-se:before, .tooltipped-sw:before {
  top: auto;
  right: 50%;
  bottom: -5px;
  margin-right: -5px;
  border-bottom-color: rgba(0, 0, 0, 0.8)
}
